{% extends 'base.html' %}

{% block content %}
<div class="card shadow p-4">
    <h2>Новий аналіз</h2>
    <form method="post" action="{% url 'analyze_text' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label>Назва</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Текст</label>
            <textarea name="text" class="form-control" rows="8" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Проаналізувати</button>
    </form>
</div>
{% endblock %}